.topDisplay {
  background-color: #62929e;
  color: white;
}

.card-body {
  background-color: #475657;
  color: white;
}

.bigBoy {
  background-color: #c6c5b9;
}

#dashboard {
  background-color: #4a6d7c;
  color: white;
}
